{% extends 'index.html' %}

{% block title %}
    login &amp; password
{% endblock %}

{% block content %}
    <h1>Форма обратной связи</h1>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="log">Login
                <input type="text"
                       placeholder="Свяжитесь с нами!"
                       id="message_html"
                       name="messsage_python">
                </input>
            </label>
        </div>
    <button type="submit">Отправить</button>
    </form>
{% endblock %}